.loading {
  @apply transition-all relative;
}

.loading--active .loading-content {
  opacity: 0.4;
}
.loading-content {
  @apply transition-opacity duration-300;
}

.loading-spinner {
  @apply animate-spin;
  margin: auto;
  position: absolute;
  z-index: 30;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}




    div#loading-container {
        --reveal-delay: 200ms;
    }

    svg#loading-svg {
    @apply text-black bg-white antialiased border-b-white;
     
        width: 32px;
    }